*{
      font-family: "Open Sans", sans-serif;
      margin:0;
      padding:0;
}
.top-header .row{
    display: grid;
    grid-template-columns:1fr 1fr;
    text-align:left;

}
.container{
    max-width:1140px;
    margin:0 auto;
    padding-left:20px;
    padding-right:20px;

}
.top-header .social-icon{
    text-align:right; 
    
}
.top-header{
    background:#173a69;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.top-header .fa-square-twitter{
    padding-left: 20px;
    padding-right: 20px;
}
.top-header a{
    color:#fff;
    text-decoration:none;
    font-size:13px;  
}
.main-header ul{
    list-style: none;
    display: inline;
    text-align: center;
   

}
.main-header .row{
    display: grid;
    grid-template-columns: 1fr 6fr;
  text-align: right;
  align-items: center;


}
.main-header{
    padding-top:20px;
    padding-bottom:20px;

   
   
}
.main-header li{
    
    margin-right:15px;
    text-align: right;
    display: inline;
    padding-left: 50px;

}
.main-header a{
    color:#000;
    text-decoration:none;
    font-size:16px;  
    font-weight: 600;
    position: relative;
}
.main-header a:after{
    content: '';
    width: 0%;
    height: 5px;
    position: absolute;
    bottom: -50px;
    background: #000;
    left: 44%;
    transform: translateX(-24px);
    transition: all.4s ease;
}
.main-header a:hover::after{
    width: 100%;
    transition: all 0.3s ease;


}

li:last-child {
margin-right: 0px;
}
.slider-section img{
width: 100%;

}
.slider-section{
position: relative;
}
.slider-section .row{
display: grid;

column-gap: 50px;
grid-template-columns: 1.3fr 1fr;

}

.slider-caption{
width: 100%;
position: absolute;
top: 50%;
transform: translateY(-50%);
}
.slider-caption h4{
font-size: 17px;
font-weight: 800;
text-transform: uppercase;
color: #010101;
}
.slider-caption h1{
font-size: 60px;
font-weight: 800;
text-transform: uppercase;
color: #010101;


}
.slider-caption p{
font-size: 16px;
color: #010101;
margin-bottom: 30px;

}
.slider-caption a{
background: #173a69;
color: #fff;
padding: 15px 30px;
text-decoration: none;
font-size: 16px;
border-radius: 5px;
font-weight: 600;
text-transform: uppercase;
display: inline-block;

}
.slider-caption .get-started{
background: transparent;
color: #173a69;
border: 2px solid #173a69;
margin-left: 20px;
}
.line{
width: 200px;
height: 2px;
background: #173a69;
margin: 20px auto 40px auto;
position: relative;

}
line::after{
content: '';
width: 50px;
height: 2px;
background: #fff;
position: absolute;
left: 50%;
transform: translateX(-50%);
top: -14px;
}
.service-section .row{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
text-align: center;
max-width: 800;

padding-top: 50px;

}
.service-section h2{

font-size: 26px;
font-weight: 700;
text-transform: uppercase;
color: #010101;
}
.service-section .container{
text-align: center;
padding-top: 50px;
}
.service-section .icon1{
margin-top: 20px;
width: 230px;
}
.row .p2{
font-size: 14px;
padding-top: 25px;
height: 50px;
width: 470px;
font-size: 12px;
padding-bottom: 15px;

}
.row .p3{
height: 50px;
width: 470px;
font-size: 12px;
padding-top: 25px;

}
.service-section{
padding-bottom: 80px;
}
.about-section{
background-image: url(image/Untitled-6.png);
background-size: cover;
background-repeat: no-repeat;
}
.about-section .row{
display: grid;
grid-template-columns: 1fr 1fr;
padding-top: 80px;
padding-bottom: 80px;
align-items: center;
}
.about-section{
width: 100%;
margin-bottom: 50px;
}
.row .about-heading-icon{
width: 100px;
margin-top: 20px;


}
.gallery-section .container {
text-align: center;
}


.gallery-section h2 {
font-size: 28px;
margin-bottom: 20px;
text-align: center;
}

.gallery-section .icon2 {

display: block;
margin: 0 auto 20px;
width: 150px;
height: auto;
}

.gallery-section .row {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 15px;
align-items: center;
column-gap: 20px;
margin-top: 50px;

}

.gallery-section .flex-column {
flex: 0 0 calc(33.333% - 15px);
grid-template-columns: 1fr 1fr 1fr;
align-items: center;


}

.gallery-section .row img {
width: 100%;
height: 250px;
object-fit: cover;
}
.gallery-section .btn-section{
padding: 17px 30px;
text-decoration: none;
background-color: #1d3e6e;
font-size: 16px;
border-radius: 4px;
margin-top: 30px;
margin-bottom: 100px;

}
.gallery-section .get-started{
background-color: #1d3e6e;
color: #fff ;
text-decoration: none;
font-weight: 600;
}

.get-started-section p{
    font-size: 24px;
    color: #fff;
    
}
.get-started-section{
    background-color: #173a69;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;

}
.get-started-section a{
    color: #fff;
    font-weight: 800;
    text-decoration: none;
}