*{
      font-family: "Open Sans", sans-serif;
      margin:0;
      padding:0;
}
.top-header .row{
    display: grid;
    grid-template-columns:1fr 1fr;
    text-align:left;

}
.container{
    max-width:1140px;
    margin:0 auto;
    padding-left:20px;
    padding-right:20px;

}
.top-header .social-icon{
    text-align:right; 
    
}
.top-header{
    background:#173a69;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.top-header .fa-square-twitter{
    padding-left: 20px;
    padding-right: 20px;
}
.top-header a{
    color:#fff;
    text-decoration:none;
    font-size:13px;  
}
